.post-like-btn svg, .post-like-btn svg path{
    transition: 50ms cubic-bezier(0.45, 0.1, 0.4, 0.78);
}
.post-like-btn:active svg{
    transform: scale(0.8);
}
.post-like-btn svg path{
    fill: transparent;
    stroke: #fff;
}
.post-like-btn.post-liked svg path{
    fill : rgb(196, 79, 79);
    stroke: transparent;
}